<div id="footerwrap">
  <div class="container">
    <div class="row">
		<div class="col-lg-4 col-md-4">
			<p>本站由南信院图文信息中心支持创办，由信息安全协会维护运行。</p>
			<p>南信院信息安全协会，是由热爱网络技术和开源软件的极客组成的学生社团。</p>
			<p>地址：南京市仙林大学城文澜路99号</p>
		</div>
		<div class="col-lg-4 col-md-4" align="center">
			<img class="img-responsive" style="margin-top:5%;margin-right:5%" src="/static/img/logo-white.png" />
		</div>
		<div class="col-lg-4 col-md-4">
			<h4>Contact Us</h4>
			<div>
			  <ul class="social" style="list-style:none;">
				<li>
				<a href="#"><i class="fa fa-envelope"></i> Mailing List</a>
				</li>
				<li>
				<a href="https://twitter.com/clay_your" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
				</li>
				<li>
				<a href="https://github.com/0neday/" target="_blank"><i class="fa fa-github"></i> GitHub </a>
				</li>
				<li>
				<a href="#"><i class="fa fa-weibo"></i> 新浪微博</a>
				</li>
			  </ul>
			 </div>
		</div>
		
    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->

<script>
WebFont.load({
	custom: {
		families: ['Lato']
	}
});
</script>
